{% extends 'base.html.twig' %}

{% block title %}
    {{ actualite.titre }}
{% endblock %}


{% block body %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{{ asset('uploads/' ~ actualite.image) }}" alt="Image de la conférence" style="display: block; margin: 0 auto; width: 100%; padding: 0;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{ actualite.titre }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <hr>
            {# <h3>Description de l</h3> #}
<div style="text-align: justify; font-family: Arial, sans-serif; font-size: 18px; line-height: 1.5; padding: 10px; margin: 10px;">
  <p style="text-indent: 20px;">{{ actualite.description }}</p>
</div>


            <hr>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Actions</h3>
            <p>
                                     
                <a href="{{ path('actualite_edit', { id: actualite.id }) }}" class="btn btn-primary">Modifier</a> 
                <a href="{{ path('actualite_delete', { id: actualite.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette actualite ?')" class="btn btn-danger">Supprimer</a> 
                {# <a href="{{ path('ges') }}" class="btn btn-secondary">Retour à la liste des conférences</a> #}
                {% endif %} 
            </p>
        </div>
    </div>
</div>
</div>
</div>
</div>
<br><br>
{% include 'footer.html.twig' %}    
{% endblock %}

