<head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
</head>
<style>
    /* Style the form container */
    .form-container {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px #ccc;
        background-color: #f9f9f9;
    }

    /* Style the form fields */
    .form-container label {
        display: block;
        margin-bottom: 5px;
    }

    .form-container input[type="text"],
    .form-container input[type="number"], 
    .form-container input[type="email"],
    .form-container select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Style the submit button */
    .form-container input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    /* Clear floats after the form */
    .form-container::after {
        content: "";
        clear: both;
        display: table;
    }
    
    h1 {
      font-size: 36px;
      font-family: Arial, sans-serif;
      text-align: center;
    }
</style>

{% if app.flashes('warning') is not empty %}
    <div class="alert alert-warning">
        Le matériel est déjà réservé pour cette période
    </div>
{% endif %}


<div class="form-container">
    
    {{ form_start(formReservation, {'method': 'PUT'}) }}
    
    <label for="{{ formReservation.materiel.vars.id }}">Matériel à réserver</label>
    {{ form_widget(formReservation.materiel) }}
    
    <label for="{{ formReservation.demandeur.vars.id }}">Demandeur pour l'empreinte</label>
    {{ form_widget(formReservation.demandeur) }}
    
    {# <label for="{{ formReservation.num_tel.vars.id }}">Numéro de téléphone</label>
    {{ form_widget(formReservation.num_tel) }} #}
    
    <label for="{{ formReservation.date_debut.vars.id }}">Date de début</label>
    {{ form_widget(formReservation.date_debut) }}
    
    <label for="{{ formReservation.date_fin.vars.id }}">Date de fin</label>
    {{ form_widget(formReservation.date_fin) }}

    <input type="submit" value="{{ valeurBtnSubmit|default("Ajouter réservation") }}" class="btn btn-primary" formnovalidate>

    {{ form_end(formReservation) }}
</div>
<script>
  const form = document.querySelector('.form-container form');
  form.addEventListener('submit', (event) => {
    const nomConference = form.querySelector('#{{ formConference.nom_conference.vars.id }}');
    const dateDebut = form.querySelector('#{{ formConference.date_debut.vars.id }}');
    const duree = form.querySelector('#{{ formConference.dure.vars.id }}');
    const lieu = form.querySelector('#{{ formConference.lieu.vars.id }}');
    const domaine = form.querySelector('#{{ formConference.domaine.vars.id }}');
    const sponsors = form.querySelector('#{{ formConference.sponseurs.vars.id }}');
    const nbParticipants = form.querySelector('#{{ formConference.nb_participants.vars.id }}');
    
    if (!nomConference.value || !dateDebut.value || !duree.value || !lieu.value || !domaine.value || !sponsors.value || !nbParticipants.value) {
      event.preventDefault();
      
      Swal.fire({
        icon: 'error',
        title: 'Remplir tous les champs, s\'il vous plaît!',
      });
    }
  });
</script>