
  <p>Bonjour {{ reservation.demandeur.nom_prenom }},</p>
    <p>Votre réservation du {{ reservation.date_debut|date('d/m/Y') }} au {{ reservation.date_fin|date('d/m/Y') }} de {{ reservation.materiel}} a été refusée pour la raison suivante :</p>
    <p>{{ raisonRefus }}</p>
    <p>Cordialement,</p>
  <p>Veuillez contacter l'administrateur pour plus d'informations.</p>
