<head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
</head>
<style>
    /* Style the form container */
    .form-container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px #ccc;
        background-color: #f9f9f9;
    }

    /* Style the form fields */
    .form-container input[type="text"],
    .form-container input[type="number"], 
    .form-container input[type="email"] ,
    .form-container input[type="file"],
   .form-container input[type="textarea"]
{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Style the submit button */
    .form-container input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    /* Clear floats after the form */
    .form-container::after {
        content: "";
        clear: both;
        display: table;
    }

    h1 {
        font-size: 36px;
        font-family: Arial, sans-serif;
        text-align: center;
    }

    textarea {
        min-height: 100px; /* hauteur minimale */
        height: auto; /* hauteur automatique */
        max-height: 300px; /* hauteur maximale */
        overflow-y: auto; /* barre de défilement automatique en cas de dépassement */
        resize: vertical;
    }


</style>

<div class="form-container">
  {{ form_start(formConference, {'method': 'PUT'}) }}

  <div class="form-group">
    {{ form_label(formConference.nom_conference, 'Nom de la conférence') }}
    {{ form_widget(formConference.nom_conference, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(formConference.nom_conference) %}
        <span class="text-danger error">{{ form_errors(formConference.nom_conference) }}</span>
    {% endif %}
</div>


  <div class="col-md-12">
    <div class="form-group">
    {{ form_label(formConference.date_debut, 'Date de début de la conférence') }}
    {{ form_widget(formConference.date_debut, {'attr': {'class': 'form-control', 'type': 'date'}}) }}
    {% if form_errors(formConference.date_debut) %}
        <span class="text-danger error">{{ form_errors(formConference.date_debut) }}</span>
    {% endif %}
</div>

  </div>

  <div class="form-group">
    {{ form_label(formConference.dure, 'Durée de la conférence') }}
    {{ form_widget(formConference.dure, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(formConference.dure) %}
        <span class="text-danger error">{{ form_errors(formConference.dure) }}</span>
    {% endif %}
</div>


  <div class="form-group">
    {{ form_label(formConference.lieu, 'Lieu de la conférence') }}
    {{ form_widget(formConference.lieu, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(formConference.lieu) %}
        <span class="text-danger error">{{ form_errors(formConference.lieu) }}</span>
    {% endif %}
</div>


 <div class="form-group">
    {{ form_label(formConference.domaine, 'Domaine de la conférence') }}
    {{ form_widget(formConference.domaine, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(formConference.domaine) %}
        <span class="text-danger error">{{ form_errors(formConference.domaine) }}</span>
    {% endif %}
</div>


  <div class="form-group">
    {{ form_label(formConference.sponseurs, 'Sponsors de la conférence') }}
    {{ form_widget(formConference.sponseurs, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(formConference.sponseurs) %}
        <span class="text-danger error">{{ form_errors(formConference.sponseurs) }}</span>
    {% endif %}
</div>


 <div class="form-group">
    {{ form_label(formConference.nb_participants, 'Nombre de participants dans la conférence') }}
    {{ form_widget(formConference.nb_participants, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(formConference.nb_participants) %}
        <span class="text-danger error">{{ form_errors(formConference.nb_participants) }}</span>
    {% endif %}
</div>


 <div class="form-group">
    {{ form_label(formConference.description, 'Description de la conférence') }}
    {{ form_widget(formConference.description, {'attr': {'class': 'form-control', 'rows': 5}}) }}
    {% if form_errors(formConference.description) %}
        <span class="text-danger error">{{ form_errors(formConference.description) }}</span>
    {% endif %}
</div>


 <div class="form-group">
    {{ form_label(formConference.image, 'Image de la conférence') }}
    {{ form_widget(formConference.image, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(formConference.image) %}
        <span class="text-danger error">{{ form_errors(formConference.image) }}</span>
    {% endif %}
</div>


  <input type="submit" value="{{valeurBtnSubmit|default("Ajouter conférence") }}" class="btn btn-primary" formnovalidate>

  {{ form_end(formConference) }}
</div>

{# // <script>
//   const form = document.querySelector('.form-container form');
//   form.addEventListener('submit', (event) => {
//     const nomConference = form.querySelector('#{{ formConference.nom_conference.vars.id }}');
//     const dateDebut = form.querySelector('#{{ formConference.date_debut.vars.id }}');
//     const duree = form.querySelector('#{{ formConference.dure.vars.id }}');
//     const lieu = form.querySelector('#{{ formConference.lieu.vars.id }}');
//     const domaine = form.querySelector('#{{ formConference.domaine.vars.id }}');
//     const sponsors = form.querySelector('#{{ formConference.sponseurs.vars.id }}');
//     const nbParticipants = form.querySelector('#{{ formConference.nb_participants.vars.id }}');
    
//     if (!nomConference.value || !dateDebut.value || !duree.value || !lieu.value || !domaine.value || !sponsors.value || !nbParticipants.value) {
//       event.preventDefault();
      
//       Swal.fire({
//         icon: 'error',
//         title: 'Remplir tous les champs, s\'il vous plaît!',
//       });
//     }
//   });
// </script> #}